<div>
    <h2 id="page-heading">
        <span>Prices</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-price" [routerLink]="['/price/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Price
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="prices?.length === 0">
        <span>No prices found</span>
    </div>
    <div class="table-responsive" *ngIf="prices?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Amount</span></th>
            <th><span>Date</span></th>
            <th><span>Room</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let price of prices ;trackBy: trackId">
                <td><a [routerLink]="['/price', price.id, 'view' ]">{{price.id}}</a></td>
                <td>{{price.amount}}</td>
                <td>{{price.date}}</td>
                <td>
                    <div *ngIf="price.room">
                        <a [routerLink]="['../room', price.room?.id, 'view' ]" >{{price.room?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/price', price.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/price', price.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'price', { outlets: { popup: price.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
